<div class="footer">
  <div class="footer__container">
    <div class="footer__item">
      <div class="footer__title">Sobre</div>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, pariatur? Nihil voluptates qui at exercitationem eaque consequatur perferendis soluta unde labore aliquid, saepe odio hic quae! Sint distinctio nulla consectetur?
      </p>
    </div>
    <div class="footer__item">
      <div class="footer__title">Contato</div>
      <ul>
        <li><i class="fas fa-envelope"></i> email&#64;email.com</li>
        <li><i class="fas fa-phone"></i> (14) 1233-2111</li>
        <li><i class="fas fa-phone"></i> (14) 1233-2111</li>
      </ul>
    </div>
  </div>
  <div class="footer__copyright">
    © 2024 Sua Empresa
  </div>
</div>
